<div class="main-content" >
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card" >
                    <form #editForm="ngForm" class="form-horizontal" >
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Event Detail</h4>
                        </div>
                        <div class="card-content" *ngIf="event">
                            <div class="row">
                                <input type="hidden" ngModel name="id" [(ngModel)]="event.id">
                                <label class="col-sm-2 label-on-left">Event name</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="hidden" [(ngModel)]="event.id" ngModel name="id">
                                        <input type="text" class="form-control" [(ngModel)]="event.eventName" ngModel name="eventName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Event picture Url</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" [(ngModel)]="event.eventPictureUrl" id="txtEventUrl" ngModel name="eventPictureUrl">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">From date</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input #fromDate  (blur)="event.fromDate = fromDate.value" type="text" class="form-control datepicker"  [(ngModel)]="event.fromDate" name="fromDate" />
                                    </div>
                                </div>

                                <label class="col-sm-2 label-on-left">To date</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input #toDate (blur)="event.toDate = toDate.value" type="text" class="form-control datepicker" [(ngModel)]="event.toDate "  name="toDate"   />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Please choose product to add into event</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity In Stock</th>
                                        <th>Price Present</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity In Stock</th>
                                        <th>Price Present</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let product of listPro">
                                        <td>{{product.productName}}</td>
                                        <td>{{product.quantityInStock}}</td>
                                        <td>{{product.productPrice}}</td>
                                        <td class="text-right">
                                            <a (click)="addProInEvent(product.id, product.productName, product.productPrice)" class="btn btn-simple btn-danger btn-icon"><i class="material-icons">add</i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Product has been selected for this event</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price Present</th>
                                        <th>Discount Percent</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price Present</th>
                                        <th>Discount Percent</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let dis of listDiscountProductModel">
                                        <td>{{dis.productName}}</td>
                                        <td>{{dis.productPrice}}</td>
                                        <td><input [value]="dis.discount" [id]="dis.productId" #discount type="text" class="form-control" (blur)="onChangeDiscount($event.target.id,$event.target.value)"></td>
                                        <td class="text-right">
                                            <a (click)="removeProductInEvent(dis.productId)" class="btn btn-simple btn-danger btn-icon"><i class="material-icons">close</i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                    <a (click)="EditEvent(editForm.value)" style="float: right" class="btn btn-fill btn-rose">Insert</a>

                </div>
                <!--  end card  -->
            </div>
        </div>
    </div>
</div>