<div class="logo">
    <div class="logo-normal">
        <a href="https://fit.hcmute.edu.vn" class="simple-text">
                    Bom Shop
                </a>
    </div>

    <div class="logo-img">
        <img src="http://sv1.upsieutoc.com/2017/06/07/logo92a8b.png" />
    </div>
</div>


<div class="sidebar-wrapper">

    <div class="user">
        <div class="photo">
            <img src="../assets/img/faces/avatar.png" />
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>Bom Boss<b class="caret"></b></span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li>
                        <a [routerLink]="[menuItems[0].path]">
                            <span class="sidebar-mini">P</span>
                            <span  class="sidebar-normal">Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="logout()">
                            <span class="sidebar-mini">L</span>
                            <span class="sidebar-normal">Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav-container">
        <ul class="nav">

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[1].path]">
                    <i class="{{menuItems[1].icon}}">list</i>
                    <p>{{menuItems[1].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[2].path]">
                    <i class="material-icons">star_rate</i>
                    <p>{{menuItems[2].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[3].path]">
                    <i class="material-icons">supervisor_account</i>
                    <p>{{menuItems[3].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[4].path]">
                    <i class="material-icons">chat_bubble</i>
                    <p>{{menuItems[4].title}}</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[5].path]">
                    <i class="material-icons">event</i>
                    <p>{{menuItems[5].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[6].path]">
                    <i class="material-icons">view_day</i>
                    <p>{{menuItems[6].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[7].path]">
                    <i class="material-icons">notifications</i>
                    <p>{{menuItems[7].title}}</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[8].path]">
                    <i class="material-icons">shopping_cart</i>
                    <p>{{menuItems[8].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[9].path]">
                    <i class="material-icons">attach_money</i>
                    <p>{{menuItems[9].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[10].path]">
                    <i class="material-icons">info_outline</i>
                    <p>{{menuItems[10].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[11].path]">
                    <i class="material-icons">import_export</i>
                    <p>{{menuItems[11].title}}</p>
                </a>
            </li>
        </ul>
    </div>

</div>