<div class="main-content" *ngIf="order">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <form method="get" action="/" class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Order details</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Customer</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input disabled type="text" class="form-control" [value]="order.receiver" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Address to deleviry</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input disabled type="text" class="form-control" [value]="order.addressDelivery">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Phone</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input disabled type="text" class="form-control" [value]="order.phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="rose">
                        <h4 class="card-title">Products in order</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-shopping">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th>Name</th>
                                        <th class="th-description">Price</th>
                                        <th class="th-description">Quantity</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let detail of listProduct">
                                        <td>
                                            <div class="img-container">
                                                <img [src]="detail.productId.productPictureUrl" >
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            <span>{{detail.productId.productName}}</span>
                                            
                                        </td>
                                        <td>
                                            {{detail.price}}
                                        </td>
                                        <td>
                                            {{detail.quantity}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <a (click)="backClick()" type="submit" style="float: right" class="btn btn-fill btn-rose">Cancel</a>
        </div>
    </div>
</div>