<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <form method="get" action="/" class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Order details</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Customer</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Address to deleviry</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Phone</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 label-on-left">Date order</label>
                                <div class="col-sm-2">
                                    <div class="form-group label-floating is-empty">
                                        <input type="text" class="form-control datepicker" value="10/10/2016" disabled/>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <label class="col-sm-2 label-on-left">Date package</label>
                                <div class="col-sm-2">
                                    <div class="form-group label-floating is-empty">
                                        <input type="text" class="form-control datepicker" value="10/10/2016" disabled/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 label-on-left">Date delivery</label>
                                <div class="col-sm-2">
                                    <div class="form-group label-floating is-empty">
                                        <input type="text" class="form-control datepicker" value="10/10/2016" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="rose">
                        <h4 class="card-title">Products in order</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-shopping">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th>Name</th>
                                        <th class="th-description">Price</th>
                                        <th class="th-description">Quantity</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="http://images.all-free-download.com/images/graphiclarge/flower_red_green_221775.jpg" alt="...">
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            <a href="#jacket">Spring Jacket</a>
                                            <br />
                                            <small>by Dolce&Gabbana</small>
                                        </td>
                                        <td>
                                            Red
                                        </td>
                                        <td>
                                            M
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" style="float: right" class="btn btn-fill btn-rose">Cancel</button>
            <button type="submit" style="float: right" class="btn btn-fill btn-rose">Update</button>
            <button type="submit" style="float: right" class="btn btn-fill btn-rose">Verify</button>

        </div>
    </div>
</div>