<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <form method="get" action="/" class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Form Details</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Date order</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value id="txtDO" name="txtDO">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Date package</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value id="txtDP" name="txtDP">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 label-on-left">Date delivery</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value id="txtDD" name="txtDD">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 label-on-left">Status</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value id="txtSTT" name="txtSTT">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 label-on-left">Total cost</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value id="txtTotal" name="txtTotal">
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <label class="col-sm-2 label-on-left">Address delivery</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value id="txtTotal" name="txtTotal">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Product in order</h4>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-shopping">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th>Name</th>
                                        <th class="th-description">Price</th>
                                        <th class="th-description">Quantity</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="../../assets/img/pmm.jpg" alt="...">
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            <a href="#jacket">Spring Jacket</a>
                                            <br />
                                            <small>by Dolce&Gabbana</small>
                                        </td>
                                        <td>
                                            Red
                                        </td>
                                        <td>
                                            M
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="../../assets/img/pmm.jpg" alt="..." />
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            <a href="#pants">Short Pants</a>
                                            <br />
                                            <small>by Pucci</small>
                                        </td>
                                        <td>
                                            Purple
                                        </td>
                                        <td>
                                            M
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="../../assets/img/pmm.jpg" alt="...">
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            <a href="#nothing">Pencil Skirt</a>
                                            <br />
                                            <small>by Valentino</small>
                                        </td>
                                        <td>
                                            White
                                        </td>
                                        <td>
                                            XL
                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>