<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <form method="get" action="/" class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Form Details</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Flower</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Icon Url</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" value>
                                        <span class="help-block">Please upload a picture of flower in the onther site. And copy link to here.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 label-on-left">Content</label>
                                <div class="col-sm-10">
                                    <ckeditor  [config]="{uiColor: '#757575'}" (change)="onChange($event)" (ready)="onReady($event)"
                                        (focus)="onFocus($event)" (blur)="onBlur($event)" debounce="500">
                                    </ckeditor>
                                </div>
                            </div>

                            <button type="submit" style="float: right" class="btn btn-fill btn-rose">Cancel</button>
                            <button (click) = "submit()" type="submit" style="float: right" class="btn btn-fill btn-rose">Update</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>