<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <form #addForm="ngForm" (ngSubmit)="AddBlog(addForm.value)" class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Form Details</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Title</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input ngModel name="title" type="text" class="form-control" value>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Icon Url</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input ngModel name="icon" type="text" class="form-control" value>
                                        <span class="help-block">Please upload a picture of blog in the onther site. And copy link to here.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 label-on-left">Content</label>
                                <div class="col-sm-10">
                                    <ckeditor [config]="{uiColor: '#d81b60'}" ngModel name="content">
                                    </ckeditor>
                                </div>
                            </div>

                            <a (click)="backClick()" style="float: right" class="btn btn-fill btn-rose">Cancel</a>
                            <button type="submit" style="float: right" class="btn btn-fill btn-rose">Insert</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>